.navbar{
    background-color: rgb(252, 197, 238);

}

.aprobado{
    background-color: rgb(112, 230, 112);
    margin: 1px 10px;
    text-align: center;
}
.reprobado{
    background-color: red;
    margin: 1px 10px;
    text-align: center;
    
}

.botones{
    margin-left: 20px;
    margin-top: 10px;
}
.button button{
    padding: 8px;
    color: white;
    background: rgb(226, 157, 200);
    border-radius: 8px;
    border: 1px solid rgb(206, 125, 223);
    margin-right: 15px;
    margin-left: 15px;
}
