:host {
    background-color: #dec0ec;
    color: rgb(56, 15, 15);
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    